{% extends 'base.html' %}

{% block content %}
<form action="{{url_for('create')}}" method="POST">
    {{form.csrf_token}}
    <div>
        {{form.username.label}} - {{form.username}}
        {% for error in form.username.errors %}
            {{error}}
        {% endfor %}
    </div>
    <div>
        {{form.password.label}} {{form.password}}
        {% for error in form.password.errors %}
            {{error}}
        {% endfor %}
    </div>
    <input type="submit" value="Sign up">
</form>

{% endblock %}